{% extends 'Pages/Base.html' %}
{% block title %}Acerca de Nosotros{% endblock %}

{% block contenido %}
<div class="about-container">
    <h1>Acerca de Nosotros</h1>
    <p>
        En nuestro espacio, la moda es una forma de expresión. Diseñamos prendas que combinan lo clásico con lo contemporáneo, pensadas para quienes buscan destacar con estilo propio.
    </p>
    <p>
        Cada colección refleja nuestra pasión por la calidad y el diseño, ofreciendo opciones versátiles que se adaptan a diferentes momentos y personalidades. Nos inspira la autenticidad y la creatividad, y trabajamos para que cada prenda que elijas sea una extensión de tu identidad.
    </p>
</div>
{% endblock %}
