{% extends 'Pages/Base.html' %}

{% block contenido %}
<h1>🛒 Carrito</h1>

{% if items %}
<ul class="carrito-lista">
    {% for item in items %}
    <li class="carrito-item">

        {% if item.producto.imagen %}
            <img src="{{ item.producto.imagen.url }}" width="80">
        {% else %}
            <img src="/static/img/no-image.png" width="80">
        {% endif %}

        <div class="carrito-info">
            <h4>{{ item.obj.nombre }}</h4>
            <p>Precio: ${{ item.obj.precio }}</p>
            <p>Cantidad: {{ item.cantidad }}</p>
            <p>Subtotal: ${{ item.subtotal }}</p>
        </div>

    </li>
    {% endfor %}
</ul>

<a href="{% url 'vaciar_carrito' %}"class="btn btn-danger mt-3">Vaciar carrito</a>

{% else %}
<p>Tu carrito está vacío.</p>
{% endif %}
{% endblock %}
