{% extends 'Pages/Base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'config/css/style.css' %}">
{% endblock %}

{% block contenido %}
<h1>Eliminar Producto: {{ producto.nombre }}</h1>

<p>¿Está seguro que desea eliminar este producto?</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" class="btn-eliminar">Eliminar</button>
    <a href="{% url 'Productos' %}" class="btn-cancelar">Cancelar</a>
</form>

{% endblock %}
